/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */



.nav1, .nav2, .nav3, .nav4, .nav5, .nav6 {
	color: gray;
	display: inline-block;
	text-decoration: none;
	padding: 10px 55px 0px 55px;
	margin: 10px;
	margin-left: auto;
}

.nav1:hover, .nav2:hover, .nav3:hover, .nav4:hover, .nav5:hover, .nav6:hover {
	color: Navy;
}

.nav1:active, .nav2:active, .nav3:active, .nav4:active, .nav5:active, .nav6:active {
	color: lime;
}

.logo {
	display: inline-block;
	padding: 10px 55px 0px 55px;
}

.title{
	padding: 20px 60px;
	margin: 20px 60px;
}

h1 {
	text-align: center;
	font-size: 92px;
	padding: 0px 80px;
	margin: 10px 30px;
	display: inline-block;
}

#roundimage {
	display: inline-block;
	padding: 0px 100px;
}

.buttons {
	background: white;
	box-sizing: border-box;
	border: 1px solid black;
	padding: 5px 30px 5px 30px;
	font-size: 14px;
	text-align: center;
}

hr {
	margin-left: 30px;
	margin-right: 30px;
}

h2 {
	font-size: 20px;

}

p {
	display: block;
	margin: 10px;
	padding: 10px;
	width: auto;
	height: auto;
}

div {
	text-decoration: underline;
}
